@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.about-section {
  color: #000;
  padding: 5% 10%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab-buttons button {
  background-color: #000;
  border: 1px solid #333;
  color: white;
  padding: 1rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 300ms ease;
}

.tab-buttons button.active-tab {
  animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
  0%,
  100% {
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  }
  50% {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  }
}

.about-retro-window-body {
  padding: 1rem;
  line-height: 1.5;
  font-family: "Roboto Mono", monospace;
  overflow-y: auto;
  max-height: 60vh;
  margin: 0 auto;
}

.about-text {
  margin-bottom: 1rem;
}

.about-list {
  list-style-type: none;
  padding: 0;
}

.about-list li {
  margin-bottom: 0.5rem;
  background: #e0e0e0;
  padding: 0.5rem;
  border: 2px solid #000;
  box-shadow: 4px 4px #808080;
  color: #000;
}

.about-list li strong {
  color: #ff4500;
}

.about-ending-line {
  text-align: center;
  margin: 1rem auto;
  width: fit-content;
}

.about-ending-line p {
  font-size: 1.2rem;
  color: #000080;
  text-shadow: 1px 1px 2px #fff;
  background: #f0f0f0;
  padding: 0.5rem;
  border: 2px solid #000;
  box-shadow: 4px 4px #808080;
  cursor: pointer;
}

.about-ending-line p:hover {
  background: #e0e0e0;
  text-shadow: 1px 1px 5px #ff4500;
}

.logo-container {
  text-align: center;
  margin-bottom: 1rem;
}

.about-logo {
  width: 15rem;
  height: auto;
}

.ourstory-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.abouttext-container {
  display: flex;
  flex-direction: column;
}

#about-window {
  background: rgb(0, 0, 0, 0.5);
  color: #e0e0e0;
  width: 80%;
  margin: 0 auto;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff0000;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
  color: white;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.buttons .button {
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons .button:hover {
  background-color: #808080;
}

@media (max-width: 768px) {
  .about-retro-window {
    width: 90%;
  }

  .about-ending-line p {
    font-size: 1rem;
  }

  .tab-buttons {
    flex-direction: column;
    align-items: center;
  }

  .tab-buttons button {
    margin-bottom: 1rem;
    width: 100%;
  }
}
