@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  padding: 10 5%;
  color: #333;
  font-family: "Roboto Mono", sans-serif;
  max-width: 1000px;
  background-color: #fff;
}

.blogpost-post-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #222;
  border-bottom: 0.125rem solid #ddd;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.blogpost-post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.blogpost-post-content {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

.blogpost-post-content h2,
.blogpost-post-content h3 {
  color: #000080;
}

.blogpost-post-content p {
  margin-bottom: 1rem;
}

.blogpost-post-content a {
  color: #007bff;
  text-decoration: none;
}

.blogpost-post-content a:hover {
  text-decoration: underline;
}

@media (max-width: 75rem) {
  .blogpost-post-title {
    font-size: 1.75rem;
  }

  .blogpost-post-image {
    max-height: 300px;
  }

  .blogpost-post-content {
    font-size: 0.9rem;
  }
}

@media (max-width: 62rem) {
  .blogpost-post-title {
    font-size: 1.5rem;
  }

  .blogpost-post-image {
    max-height: 250px;
  }

  .blogpost-post-content {
    font-size: 0.85rem;
  }
}

@media (max-width: 48rem) {
  .blogpost-post-title {
    font-size: 1.25rem;
  }

  .blogpost-post-image {
    max-height: 200px;
  }

  .blogpost-post-content {
    font-size: 0.8rem;
  }
}

@media (max-width: 36rem) {
  .blogpost-post-title {
    font-size: 1rem;
  }

  .blogpost-post-image {
    max-height: 150px;
  }

  .blogpost-post-content {
    font-size: 0.75rem;
  }
}
