.blogpage--section {
  padding: 10%;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.blogpage-postscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5%;
  line-height: 1.5;
  align-items: stretch;
  padding: 2rem;
  justify-content: space-between;
}

.blogpage-griditem {
  display: flex;
}

.blogpage-link {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#blogsectiontitle {
  margin: 0 auto 1rem auto;
  width: 35%;
}

#blogsectiontitle img {
  width: 90%;
  height: auto;
}

.blogpage-postunit {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1d1d1d;
  height: 100%;
}

.blogpage-postunit img {
  height: 18rem;
  width: auto;
  object-fit: cover;
  border-radius: 0.4rem 0.4rem 0 0;
}

.blogpage-bottomcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #666;
  border-top: 1px solid #666;
  padding: 0.5rem 0;
}

#blogpage-postauthor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

#blogpage-postauthor svg {
  margin-right: 0.25rem;
}

.blogpage-postcontent {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
}

.featuredtext {
  line-height: 2rem;
}

#blogpage-postdate {
  display: flex;
  justify-content: flex-end;
  color: #666;
  margin: 0.25rem 0;
}

.readmorelink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1rem 0;
}

.readmorebtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #666;
  font-weight: bold;
  padding: 0 0.25rem;
  margin: 0 0.1rem;
}

.readmorebtn:hover {
  margin-right: -0.25rem;
  transition: all 300ms ease;
  color: #1d1d1d;
}

.blogpage-postinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.pagination button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: #0a0a0a;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #fff;
}

.pagination button:hover {
  transition: all 300ms ease;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.2)), #fff;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .blogpage--section {
    padding: 15% 1rem 1rem 1rem;
  }

  .blogpage-postscontainer {
    grid-template-columns: 1fr;
    grid-gap: 3%;
  }
  .blogpage-postcontent h2 {
    font-size: 1.5rem;
  }
  #blogsectiontitle {
    margin: 0 auto;
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .blogpage--section {
    padding: 25% 0 0 0;
  }

  .blogpage-postscontainer {
    grid-gap: 0.75%;
  }
  .blogpage-postcontent h2 {
    font-size: 1.35rem;
  }
  #blogpage-postdate {
    font-size: 0.7rem;
  }
  #blogsectiontitle {
    margin: 0 auto;
    width: 70%;
  }
}
