.blog--section {
  padding: 10% 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#blogsectiontitle {
  margin: 1rem auto;
}

#recentposts-title {
  font-family: "Press Start 2P", monospace;
  color: #fff;
  font-size: 2.5rem;
}

.blog-postscontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
}

.blog-postunit {
  background: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1d1d1d;
  width: 100%;
}

.blogpost-link {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin: 0;
}

.blog-postunit img {
  height: 18rem;
  width: auto;
  object-fit: cover;
}

.blog-bottomcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #666;
  border-top: 1px solid #666;
  padding: 0.5rem 0;
}

#blog-postauthor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 0 1rem 0;
}

#blog-postauthor svg {
  margin-right: 0.25rem;
}

.blog-postcontent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
  text-align: justify;
  width: 100%;
}

.featuredtext {
  line-height: 2rem;
}

#blog-postdate {
  display: flex;
  justify-content: flex-end;
  color: #666;
  margin: 0.25rem 0;
}

.readmorelink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1rem 0;
}

.readmorebtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #666;
  font-weight: bold;
  padding: 0 0.25rem;
  margin: 0 0.1rem;
}

.readmorebtn:hover {
  margin-right: -0.25rem;
  transition: all 300ms ease;
  color: #1d1d1d;
}

.blog-postinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.pagination button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.pagination button:hover {
  transition: all 300ms ease;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .blog--section {
    padding: 15% 1rem 1rem 1rem;
  }

  .blog-postscontainer {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    width: 100%;
  }
  .blog-postcontent h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .blog--section {
    padding: 10% 0 0 0;
  }

  .blog-postscontainer {
    grid-gap: 2rem;
  }
  .blog-postcontent h2 {
    font-size: 1.35rem;
  }
  #blog-postdate {
    font-size: 0.7rem;
  }
}
