.cart-container {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: right 0.3s ease;
  font-family: "Roboto Mono", monospace;
}

.cart-container.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.close-cart {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: calc(100% - 200px); /* Adjust for header/footer */
}

.cart-item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.cart-summary {
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.checkout-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.checkout-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.cart-item-actions {
  display: flex;
  align-items: center;
}

.quantity-button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
  font-size: 1rem;
}

.remove-button {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}
