.checkout-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.checkout-summary {
  padding: 2rem;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-family: "Roboto Mono", monospace;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

.cart-item-details {
  flex: 1;
}
