@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --background-color: #f0f0f0;
  --form-bg: #ffffff;
  --border-color: #cccccc;
  --highlight-color: #000080;
  --text-color: #333333;
  --button-bg: #008080;
  --button-hover-bg: #ffbd2e;
  --font-family: "Press Start 2P", cursive;
}

.contact-section {
  padding: 4% 2%;

  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--highlight-color);
  font-family: var(--font-family);
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container,
.confirmation-message {
  background-color: var(--form-bg);
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}

.arcade-label {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.arcade-input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--form-bg);
  color: var(--text-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}

.arcade-input:focus {
  outline: none;
  border-color: var(--highlight-color);
}

.arcade-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

@media (max-width: 75rem) {
  .contact-title {
    font-size: 2.2rem;
  }

  .arcade-label {
    font-size: 1.1rem;
  }

  .arcade-input {
    font-size: 0.9rem;
  }
}

@media (max-width: 62rem) {
  .contact-title {
    font-size: 2rem;
  }

  .arcade-label {
    font-size: 1rem;
  }

  .arcade-input {
    font-size: 0.8rem;
  }
}

@media (max-width: 48rem) {
  .contact-title {
    font-size: 1.8rem;
  }

  .form-container,
  .confirmation-message {
    width: 100%;
    padding: 1rem;
  }

  .arcade-label {
    font-size: 0.9rem;
  }

  .arcade-input {
    font-size: 0.7rem;
  }
}

@media (max-width: 36rem) {
  .contact-title {
    font-size: 1.6rem;
  }

  .arcade-label {
    font-size: 0.8rem;
  }

  .arcade-input {
    font-size: 0.6rem;
  }
}
