@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.footer {
  background-color: #000;
  color: #fff;
  padding: 4rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Press Start 2P", monospace;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  gap: 1rem;
  margin: 0 auto;
}

.footer-heading {
  font-size: 1.35rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #b8b7b7;
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff0000;
}

.footer-logocontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #00ff00;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-card:hover {
  filter: contrast(1.2);
  transform: scale(1.05);
  box-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000;
}

.footer-card img {
  width: 10rem;
  background: linear-gradient(45deg, #00ff00, #ff0000);
  padding: 0.25rem;
  border-radius: 0.25rem;
  height: auto;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00bfff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-slogan {
  font-style: italic;
  color: #fff;
  font-family: "VT323", monospace;
  font-size: 1.25rem;
  line-height: 1.5;
  text-shadow: 0 0 5px #00ff00;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  margin: 0.25rem 0;
  padding: 0;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer-nav a:hover {
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-social a {
  color: #f0f0f0;
  margin: 0.25rem 0;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #f0f0f0;
  padding: 0.35rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.footer-social a:hover {
  color: #00ff00;
  background: rgba(255, 0, 255, 0.2);
  box-shadow: 0 0 10px #ff0000;
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  color: #888;
  margin: 4rem auto 1rem auto;
  text-shadow: 0 0 5px #00ff00;
}

@media (max-width: 1200px) {
  .footer {
    padding: 2rem 1rem;
  }
  .footer-content {
    flex-direction: column-reverse;
    gap: 2rem;

    align-items: stretch;
  }
  .footer-card {
    padding: 1rem;
  }
  .footer-social {
    justify-content: center;
  }
}
