.header {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.header img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateZ(-2000px) scale(0.1);
  width: 25rem;
  height: auto;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 2s ease-in-out;
  user-select: none;
}

.header img.visible {
  opacity: 1;
  transform: translateX(-50%) translateZ(0) scale(1);
}

.header img.hidden {
  opacity: 0;
  transform: translateX(-50%) translateZ(-2000px) scale(0.1);
}

.header img.falling {
  opacity: 1;
  animation: fallAnimation 3s ease-in-out forwards;
}

@keyframes fallAnimation {
  0% {
    transform: translateY(-100%) translateX(-50%) translateZ(-2000px) scale(0.1);
    opacity: 0;
  }
  80% {
    transform: translateY(10%) translateX(-50%) translateZ(100px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0%) translateX(-50%) translateZ(0) scale(1);
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/city.webp");
  z-index: -1;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  opacity: 0.5;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 1%, black 40%);
}

.welcome-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 2rem;
  border: 2px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-btn {
  text-align: center;
  font-size: 1rem;
  color: #00ff00;
  background-color: #000;
  padding: 0.5rem 2rem;
  border: 3px solid #ff0000;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.explore-btn:hover {
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  transform: scale(1.1);
  background-color: #222;
  border-color: #ff0000;
}

@keyframes blink {
  0%,
  100% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  50% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
}

.explore-btn:hover::after {
  content: "Press Start";
  display: block;
  font-size: 0.8rem;
  color: #ff0000;
  margin-top: 0.5rem;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000;
  animation: blink 1s infinite;
}

@media (max-width: 1200px) {
  .header img {
    width: 20rem;
  }

  .welcome-text .btn {
    padding: 0.8rem 1.5rem;
  }
}

@media (max-width: 992px) {
  .header img {
    width: 18rem;
  }

  .welcome-text .btn {
    padding: 0.7rem 1.2rem;
  }
}

@media (max-width: 768px) {
  .header img {
    width: 20rem;
  }

  .welcome-text .btn {
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 576px) {
  .header {
    height: 95dvh;
  }
  .header img {
    width: 16rem;
  }
  .welcome-text {
    bottom: 20%;
  }
  .welcome-text .btn {
    padding: 0.5rem 0.8rem;
  }
}
