.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #000080;
  border-bottom: 2px solid #000080;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 100%;
}

.logo {
  height: 2.5rem;
}

.menu-toggle,
.basket-toggle {
  background: none;
  border: 2px solid #000080;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  color: #000080;
}

.menu-toggle {
  display: none;
}

.basket-toggle img {
  height: 1.875rem;
}

.basket-count {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: #f00;
  color: #fff;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  box-shadow: 0 0 5px #000080;
}

.nav-links {
  display: none;
  justify-content: center;
  background-color: #fff;
  padding: 0.625rem;
  width: 100%;
  overflow-x: auto;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 999;
}

.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.nav-link:hover {
  text-shadow: 0.5px 0.5px 2px #ff00ffb3, 0 0 10px rgba(255, 0, 255, 0.3);
  transition: all 300ms ease;
}

.basket-content {
  position: fixed;
  right: 0;
  top: 0;
  width: 18.75rem;
  height: 100vh;
  background-color: #fff;
  box-shadow: -0.125rem 0 0.3125rem rgba(0, 0, 128, 0.7);
  border-left: 2px solid #000080;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.basket-content.open {
  transform: translateX(0);
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000080;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.basket-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.basket-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  border-bottom: 1px solid #000080;
  padding-bottom: 0.5rem;
}

.basket-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000080;
}

.basket-item-image {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  margin-right: 0.625rem;
}

.basket-item-details {
  flex: 1;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #f00;
  font-size: 1rem;
}

.checkout-link {
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  color: #000080;
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px #ff00ff;
}

@media (max-width: 48rem) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    margin: 1rem 0;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 45dvh;
  }

  .nav-link {
    padding: 1rem;
    background-color: #000080;
    color: #fff;
    border-radius: 0.5rem;
    margin: 0;
  }

  .basket-toggle {
    display: block;
  }

  .basket-toggle {
    position: relative;
  }
}

@media (min-width: 48rem) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .basket-toggle {
    display: block;
  }
}
