@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --background-color: #008080;
  --window-border: 0.2rem solid #000;
  --window-shadow: 0.2rem 0.2rem #aaa;
  --window-bg: #c0c0c0;
  --title-bar-bg: #000080;
  --title-bar-text-color: #fff;

  --body-bg: #fff;
  --body-text-color: #000;
  --body-font: "Courier New", Courier, monospace;
  --highlight-color: #008080;
  --subtitle-color: #000080;
}

.product-list {
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.product-list .window {
  width: 90%;
  max-width: 60rem;
  background-color: var(--window-bg);
  border: var(--window-border);
  box-shadow: var(--window-shadow);
  overflow: hidden;
}

.product-list .title-bar {
  background-color: var(--title-bar-bg);
  color: var(--title-bar-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
}

.product-list .title-bar .title-bar-text {
  padding-left: 0.5rem;
}

.product-list .title-bar .title-bar-controls button {
  width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;
  background-color: var(--title-bar-bg);
  border: none;
  color: var(--title-bar-text-color);
}

.product-list .title-bar .title-bar-controls button:hover {
  background-color: #ff0000;
}

.product-list .content {
  padding: 2rem;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

  color: var(--body-text-color);
}

.product-list .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
}

.product-list .product {
  background-color: #000;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.product-list .product:hover {
  transform: translateY(-0.3rem);
}

.product-list .product-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.product-list .product-details {
  padding-top: 0.5rem;
}

.product-list .product-name {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;

  color: var(--highlight-color);
}

.product-list .product-price {
  font-size: 1rem;
  color: #555;
}

.product-list .buttons {
  display: flex;
  gap: 0.25rem;
}

.product-list .button {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.product-list .button.close {
  background-color: #ff5f56;
}

.product-list .button.minimize {
  background-color: #ffbd2e;
}

.product-list .button.maximize {
  background-color: #27c93f;
}

.productbtns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.see-all-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  text-align: center;
}

.filter-buttons {
  margin: 0.625rem;
  display: flex;
  gap: 0.625rem;
}

.filter-btn {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-btn.active {
  background-color: #ff4c4c;
  color: var(--title-bar-text-color);
  border: 1px solid #ff4c4c;
}

.filter-btn:hover {
  background-color: #e0e0e0;
}

.product-type {
  color: var(--body-text-color);
  font-size: 2.5rem;
}

@media (max-width: 75rem) {
  .product-list {
    padding: 4%;
  }

  .product-list .window {
    width: 95%;
  }

  .product-list .product-name,
  .product-list .product-price {
    font-size: 1rem;
  }

  .product-list .product {
    padding: 0.625rem;
  }

  .apparel {
    margin: 5% auto;
  }

  .accessories {
    margin: 5% auto;
  }
}

@media (max-width: 62rem) {
  .product-list {
    padding: 3%;
  }

  .product-list .window {
    width: 100%;
  }

  .product-list .product-name,
  .product-list .product-price {
    font-size: 0.9rem;
  }

  .product-list .product {
    padding: 0.5rem;
  }

  .apparel,
  .accessories {
    margin: 5% auto;
  }

  .product-type {
    font-size: 2rem;
  }
}

@media (max-width: 48rem) {
  .product-list {
    padding: 2%;
  }

  .product-list .product-name,
  .product-list .product-price {
    font-size: 0.8rem;
  }

  .product-list .product {
    padding: 0.375rem;
  }

  .apparel,
  .accessories {
    margin: 5% auto;
  }

  .product-type {
    font-size: 1.5rem;
  }
}

@media (max-width: 36rem) {
  .product-list {
    padding: 1%;
  }

  .product-list .product-name,
  .product-list .product-price {
    font-size: 0.7rem;
  }

  .product-list .product {
    padding: 0.25rem;
  }

  .apparel,
  .accessories {
    margin: 5% auto;
  }

  .product-type {
    font-size: 1.2rem;
  }
}
