@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.product-list {
  margin: 5% auto;
  padding: 2rem;
  width: 90%;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
}

.filter-btn {
  font-family: "Press Start 2P", monospace;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #003bb5;
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #000;
  margin: 0 0.25rem;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
}

.filter-btn.active {
  background-color: #ff0000;
}

.filter-btn:hover {
  background-color: #000080;
}

.productlist-windows-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}

.window-controls .expand-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
}

.window-controls .expand-icon:hover {
  color: #ff0000;
}

.window-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image.window-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.featuredproducts-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  font-family: "Press Start 2P", monospace;
  font-size: 1rem;
  color: #000;
}

.productlist-description {
  color: #333;
  font-size: 0.75rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.view-link {
  font-family: "Press Start 2P", monospace;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: #003bb5;
  color: #fff;
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.view-link:hover {
  background-color: #000080;
}

@media (max-width: 768px) {
  .product-windows-container {
    flex-direction: column;
    align-items: center;
  }

  .xp-window {
    width: 90%;
  }

  .filter-btn {
    font-size: 0.6rem;
  }

  .featuredproducts-price {
    margin-bottom: 0.5rem;
  }

  .btn.view-link {
    margin-top: 0.5rem;
  }

  .product-list {
    padding: 1rem;
    width: 100%;
  }

  .productlist-windows-container {
    justify-content: center;
    align-items: center;
  }
}
