@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-top: #000;
  --color-start: #f3feb8;
  --color-middle: #ffde4d;
  --color-end: #ffb22c;
  --color-bottom: #ff4c4c;

  cursor: url("/cursor.png"), auto;
}

a:hover,
button:hover {
  cursor: url("/pointer.png"), auto;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: var(--color-top);
  color: #fff;
  transition: background-color 0.3s ease;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #0000804d 1px, transparent 1px),
    linear-gradient(to bottom, #0000804d 1px, transparent 1px);
}

.btn {
  font-family: "VT323", monospace;
  display: block;
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #ffb22c;
  border: 1px solid #00ff00;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
  transition: all 300ms ease;
}

.btn:hover {
  box-shadow: 2.5px 5px #ff0000;
  border-color: #ff0000;
}

.section-title {
  font-size: 3.5rem;
  color: black;
  margin: 1rem auto;
}

.window {
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.6), -10px 12px rgba(0, 0, 128, 0.3);
  background: rgb(0, 0, 0, 0.7);
  color: #222;
  border: 2px solid #000080;
  border-radius: 0.5rem;
  width: 80%;
  overflow: hidden;
}

.title-bar {
  background-color: #000080;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

.title-bar .title-bar-text {
  padding-left: 0.5rem;
}

.title-bar .title-bar-controls button {
  width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;
  background-color: #000080;
  border: none;
  color: #fff;
}

.title-bar .title-bar-controls button:hover {
  background-color: #ff0000;
}

.buttons {
  display: flex;
  gap: 0.25rem;
}

.button {
  font-family: "VT323", monospace;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.button.close {
  background-color: #ff5f56;
}

.button.minimize {
  background-color: #ffbd2e;
}

.button.maximize {
  background-color: #27c93f;
}

.section-title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  color: black;
  margin: 1rem auto;
}
